/*Comienza footer*/
footer {
    background-color: $colorgeneral;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.footer__logo {
    @include tamañologo;
}

.redes {
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
}










/*Fin footer*/