/*Comienza footer*/
footer {
    background-color: #FAD7A0;
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.footer__logo {
    width: 60px;
    height: 60px;
}

.redes {
    width: 60px;
    height: 60px;
    padding: 10px;
}







/*Fin footer*/