.formulario {
    background-color: $colorgeneral;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 15px;
    align-items: center;


}

form {

    width: 500px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-top: 20px;



}

.contacto {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    color: white;
    background-color: black;
    width: 50%;
    border-radius: 10px;
}

#boton:hover {
    color: black;
    background-color: #FAD7A0;
}