.fotos-Nosotros {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    object-fit: cover;
}

.sobre-nosotros {
    margin-top: 3rem;
    text-align: center;
}

.main-nosotros {
    background: rgb(255, 237, 237);
    background: linear-gradient(114deg, rgba(255, 237, 237, 0.5466561624649859) 37%, rgba(250, 215, 160, 1) 100%);
}