.foto__cake {
    height: 300px;
    width: 260px;
    border-radius: 10px;
}


.foto__cafe {
    height: 300px;
    width: 260px;
    border-radius: 10px;
}

.nombre__cake {
    padding: 20px;
    background-color: #FAD7A0;
    margin-top: 10px;
    border-radius: 10px;
}

.info__cake {
    text-align: start;
    font-size: 1rem;


}

.nombre__cafe {
    padding: 20px;
    background-color: #FAD7A0;
    margin-top: 10px;
    border-radius: 10px;
}

.info__cafe {
    text-align: start;
    font-size: 1rem;

}

/*----CARROUSEL-----*/
.img__carrousel {
    width: 100%;
    height: 500px;
}

.carrousel-item {
    height: 500px;
}

.pasteleria {
    position: absolute;
    left: 50%;
    top: 82%;
    font-size: 4rem;
}

.carousel slide {
    position: relative;

}
