/* MEDIA QUERIES */

@media screen and (max-width:320px) {
    .header {
        flex-direction: column;
        height: 200px;
    }

    .logo {
        height: 50px;
        width: 50px;
    }

    .titulo__header {
        font-size: 3rem;
    }

    .imagenes__inicio {
        display: flex;
        flex-direction: column;
    }

    .menu {
        padding: 10px;
        flex-direction: column;
    }

    .subtitulo__hero {

        text-align: center;
    }

    .hero {
        align-items: center;
        background-position: 65%;

    }

    .slogan__hero {
        text-align: center;
    }

    .btn {
        align-self: center;
    }



    footer {
        height: 250px;
    }
}

@media screen and (max-width:768px) {
    .header {
        justify-content: space-evenly;

    }

    .logo {
        height: 60px;
        width: 60px;
    }

    .titulo__header {
        font-size: 3rem;
        padding-left: 0;
    }

    .menu {
        padding-left: 0;
    }

    .hero {
        background-position: center;
    }

    .imagenes__inicio {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1024px) {
    .img__inicio {
        width: 200px;
        height: 300px;
        border: 2px solid black;
    }

    .imagenes__inicio {
        justify-content: center;
        grid-gap: 2px;

    }
}